/* BUTTONS (EDIT & DELETE) */
.buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 12rem;
}

.btn {
    display: flex;
    justify-content: center;
    cursor: pointer;
    text-align: center;
    align-items: center;
    height: 3.5rem;
    border-radius: 0.8rem;
    border: none;
    width: 5rem;
    box-shadow: 0 3px 3px 0 rgba(0,0,0, 0.1);
}

.btn:hover {
    filter: brightness(0.9);
}
.btn:disabled {
    filter: brightness(0.9);
}

.edit {
    background: linear-gradient(#15a3fa,#62c3ff );
}

.delete {
    background: linear-gradient(#fa1515,#ff8b8b );
}

.icon {
    height: 2rem;
    width: auto;
}

.clear {
    display: flex;
    float: right;
    height: 3rem;
    width: 3rem;
    margin-right: 1.5rem;
    margin-top: 1rem;
    cursor: pointer;
    background-color: #FFFFFF;
    border: none;
    align-items: center;
}