
.delete-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0 auto;
    margin-top: 30rem;
    width: 35rem;
    background: #FFFFFF;
    box-shadow: 0 5px 5px 0 rgba(0,0,0, 0.2);
    text-align: center;
}

.del-header {
    display: flex;
    justify-content: end;
    height: 5rem;
}

.close {
    height: 4rem;
    width: 3rem;
    margin-right: 0.6rem;
    margin-top: 0.5rem;
    cursor: pointer;
}

.del-mid {
    font-size: 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.del-footer {
    height: 5rem;
    margin-top: 1rem;
}

.del-btn {
    display: flex;
    margin: 0 auto;
    background: #fa1515;
    border: none;
    border-radius: 0.8rem;
    
    padding:0.8rem;
    padding-left: 2rem;
    padding-right: 2rem;
    
    align-items: center;
    box-shadow: 0 3px 5px 0 rgba(0,0,0, 0.2);
    cursor: pointer;
}
.del-btn:hover {
    filter: brightness(0.9);
}

.del-btn > div {
    color: white;
}
