/* BACKGROUND */
.modal {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.1);
}

/* CONTAINER */
.edit-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 20rem;
    max-width: 100rem;
    background: #FFFFFF;
    box-shadow: 0 5px 5px 0 rgba(0,0,0, 0.2);
    height: 35rem;
}

.error {
    margin: 0 auto;
    width: fit-content;
    margin-top: 3rem;
    font-size: large;
}

/* GRID WITH INPUTS */
.grid {
    padding: 2rem;
    display: grid;
    grid-template-columns: 30fr 30fr 30fr;
    grid-template-rows: 0.5fr; 
    column-gap: 2rem;
    row-gap: 1.5rem;

    /* for smaller screen(mobile etc)  */
    /* padding: 2rem;
    padding-left: 5rem;
    padding-right: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; */
}

/* LABELS */
.grid > label {
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    height: 7rem;
}

/* INPUTS */
label > input {
    height: 3rem;
    border-radius: 1rem ;
    border: none;
    padding-left:1rem ;
    background-color: rgba(0, 0, 0, 0.1);
    box-shadow: 0 3px 5px 0 rgba(0,0,0, 0.1);
}

/* FOOTER */
.modal-footer {
    display: flex;
    justify-content:center;
    height: 10rem;
    align-items: center;
}