header {
    height: 10rem;
    box-shadow: 0 3px 5px 0 rgba(0,0,0, 0.1);
    background: linear-gradient(#15a3fa,#62c3ff );
}

.table-container {
    max-width: 140rem;
    margin: 3rem;
    margin-top: 1rem;
    padding-top: 1rem;
    text-align: center;
}

/* TABLE CENTERED */
@media (min-width: 1460px) {
    .table-container {
        margin: 0 auto;
        margin-top: 1rem;
    }
}

